[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
azure-mgmt-containerservice = "*"
azure-mgmt-authorization = "*"
azure-mgmt-resource = "*"
azure-mgmt-compute = "*"
PyYAML = "*"

[requires]
python_version = "3.6"
#python_version = "2.7"
