azure-identity==1.7.1
azure-mgmt-authorization==2.0.0
azure-mgmt-compute==23.1.0
azure-mgmt-containerservice==26.0.0
azure-mgmt-resource==20.0.0
azure-mgmt-msi==6.0.0b1
ipaddress==1.0.23
pyyaml==5.4.1
uuid==1.30
